.jumbotron{
  width: 35rem;
}

/* .list-group.list-group-flush {
  margin-top: 12rem;
  width: 30rem;
} */

.col{
    margin-top: 3rem;
    margin-left: 2rem;
}



.carousel.slide {
  width: 30rem;
}

.form-group {
  width: 10rem;
  margin-left: 10rem;
}

input.form-control {
  margin-bottom: 1rem;
}


.card {
  margin: auto;
  text-align: center;
  width: 13rem;
  margin-bottom: 5rem;
  margin-left:1rem;
}

